/* Basic styling */
.navigation {
    background-color: #f8f9fa;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navigation.show-nav {
    background-color: #fff;
    box-shadow: 0 2px 4px black;
}

.navigation .btn {
    background-color: #2196F3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation .btn:hover {
    background-color: #1976D2;
}

/*for bigger screens*/
@media (min-width: 768px) {
    .navigation .btn {
        margin: 0 10px;
    }
}

/*for very small screens (phones) that need the hamburger mneu*/
@media (max-width: 767px) {
    body {
        font-size: 1rem;
    }

    .header {
        text-align: center;
    }

    .nav-links-container {
        display: none;
        flex-direction: column;
        align-items: center;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
    }

    .nav-links-container.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    .nav-links-container .btn {
        margin: 2px 0;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
}

/* Hero section styles */
.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}

.hero-img {
    max-width: 80%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 4px 8px black;
}

/* Bio section styles */
.bio {
    margin-top: 20px;
}

.name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.bio {
    font-size: 1rem;
}

/* More About Me section styles */
.mini-bio {
    padding: 50px 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.mini-bio p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.skills-div {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
    text-align: center;
    color: black;
}

/*github code repo buttons*/
a.btn {
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    padding: 1rem 2rem;
    margin: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}

/*buttons to take the user to my repositories*/
a.btn:hover {
    background-color: blue;
    color: white;
}

/* social media buttons: instagram/threads, twitter/X, github */
.social-media-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.social-media-button:hover {
    background-color: blue;
    color: white;
}

.button-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Basic styles for the navbar */
.nav-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.nav-links-container .btn {
    margin: 2px;
    padding: 10px;
}

/* hamburger menu for nav on phones */
/*
by default, set display, background. border to none-- you
don't see the hamburger menu unless screen is small enough to need it
*/
.hamburger {
    display: none;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

/* Media query for screens less than 768px; this is intended to cover small devices like phones */
@media (max-width: 767px) {
    .nav-links-container {
        display: none;
        flex-direction: column;
        align-items: center;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
        max-height: 0;
    }

    .nav-links-container.active {
        display: flex;
        overflow-y: auto;
        max-height: 100vh;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    .nav-links-container .btn {
        margin: 2px 0;
        padding: 10px;
        width: 90%;
        text-align: center;
    }
}

/* button styling */
button {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-family: sans-serif;
}

button:hover {
    background-color: blue;
    color: #ffffff;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Additional styles for nav-links */
.nav-links {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-links:hover {
    background-color: blue;
    color: white;
}

/* Table styling for experience and volunteer sections */
table.experience-table, table.exp-tables {
    border-collapse: collapse;
    margin: 20px auto;
}

table.experience-table td, table.exp-tables td {
    padding: 10px;
    vertical-align: top;
    border: none;
}

table.experience-table .column-title, table.exp-tables .column-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

table.experience-table tr:nth-child(even), table.exp-tables tr:nth-child(even) {
    background-color: lightblue;
}

table.exp-tables td {
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}